<div>
  <p>{{localize 'MOBILEIMPROVEMENTS.AboutText'}}</p>
  <ul>
    <li>
      <a href="https://gitlab.com/fvtt-modules-lab/mobile-improvements/-/issues" target="_blank">
        {{localize 'MOBILEIMPROVEMENTS.AboutIssues'}}
      </a>
    </li>
    <li>
      <a href="https://www.foundryvtt-hub.com/package/mobile-improvements/" target="_blank">
        {{localize 'MOBILEIMPROVEMENTS.AboutFoundryHub'}}
      </a>
    </li>
    <li>
      <a href="https://ko-fi.com/sunspots" target="_blank">
        {{localize 'MOBILEIMPROVEMENTS.AboutSupport'}}
      </a>
    </li>
  </ul>
  <hr>
  <button class="close-about">Close</button>
</div>