/* ------------------------------------ */
/*                Core UI               */
/* ------------------------------------ */

@media screen and (max-width: 800px) {
    #sidebar:not(.collapsed) {
        width: 100%;
        z-index: 80;
        background-color: black;
        height: 100vh;
        top: 0;
        right: 0;
        background: #333;
    }

    #navigation {
        width: calc(100% - 440px);
    }

    #navigation #scene-list {
        min-width: 110px;
    }

    #players {
        bottom: 120px;
    }

    #hotbar {
        z-index: 81;
        left: 0;
        height: auto;
        width: 100%;
        max-width: none;
    }

    #hotbar .bar-controls {
        background: #333;
    }

    #hotbar #action-bar {
        height: auto;
    }

    #hotbar #macro-list {
        flex: 1;
        background: #333;
        padding: 4px;
        justify-content: center;
    }
    #hotbar .macro {
        margin: 2px;
    }
}

#settings {
    overflow-y: scroll;
}

.app.sidebar-popout .directory-list {
    max-height: initial;
}

.app.filepicker form {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.app.filepicker .filepicker-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* ------------------------------------ */
/*              Application             */
/* ------------------------------------ */
@media screen and (max-width: 800px) {
    .app {
        background: #333333EE;
        border-radius: 0;
    }

    .window-app:not(.minimized) {
        width: 100% !important;
        height: 100% !important;
        left: 0 !important;
        top: 0 !important;
        margin: 0;
        min-height: 100% !important;
        min-width: 100% !important;
        overflow-x: scroll;
    }

    .window-app .window-resizable-handle {
        display: none;
    }

    .minimized {
        visibility: hidden;
    }

    .dialog .dialog-content {
        overflow: scroll;
        flex: 0 1 auto;
    }

    .dialog .dialog-buttons {
        flex: none;
        padding-top: 5px;
    }
}
/* ------------------------------------ */
/*             dnd5e system             */
/* ------------------------------------ */

@media screen and (max-width: 800px) {
    .dnd5e.sheet .sheet-header {
        align-items: center;
    }
    .dnd5e.sheet.actor.character .sheet-header img.profile {
        flex: 0 0 20vw;
        max-width: 20vw;
        height: 20vw;
    }
    .dnd5e.sheet .sheet-header h1 {
        height: auto;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
    .dnd5e.sheet .sheet-header h1 input {
        margin: 0;
    }
    .dnd5e.sheet.actor .sheet-header .charlevel,
    .dnd5e.sheet.actor.character .sheet-header .charlevel {
        height: auto;
        flex: 1;
        max-width: 33vw;
    }
    .dnd5e.sheet.actor.character .sheet-header .charlevel .level {
        height: auto;
        line-height: 26px;
    }
    .dnd5e.sheet.actor .sheet-header .charlevel .level label {
        font-size: 20px;
    }
    .dnd5e.sheet.actor .sheet-header .charlevel .experience {
        display: flex;
        justify-content: end;
        white-space: nowrap;
    }

    .dnd5e.sheet.actor.character .sheet-header .charlevel .experience input[type="text"] {
        width: auto;
        max-width: 50%;
    }
}

@media screen and (max-width: 450px) {
    .dnd5e.sheet .sheet-header {
        position: relative;
    }
    .dnd5e.sheet.actor.character .sheet-header img.profile {
        position: absolute;
        top: 0px;
    }
    .dnd5e.sheet.actor.character .sheet-header img.profile {
        max-width: 94px;
        height: 94px;
    }
    .dnd5e.sheet.actor.character .sheet-header h1 {
        margin-left: 94px;
    }
    .dnd5e.sheet.actor.character .sheet-header .summary {
        padding-left: 94px;
    }
}

.dnd5e.sheet .sheet-navigation .item {
    margin: 0;
}
.dnd5e.sheet.actor ul.attributes {
    height: auto;
}
.dnd5e.sheet.actor ul.attributes li.attribute {
    height: auto;
}
.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value {
    white-space: nowrap;
}
.dnd5e.sheet.actor.character .attributes .resource label.checkbox {
    white-space: nowrap;
}
.dnd5e.sheet.actor.character .sheet-header .attributes {
    height: auto;
}

.dnd5e.sheet.actor.character .sheet-header .attributes .attribute .attribute-name {
    white-space: nowrap;
}

.dnd5e.sheet.actor.character .sheet-header .attributes .attribute .attribute-footer {
    white-space: nowrap;
}
.dnd5e.sheet.actor .sheet-header .charlevel {
    flex: 1;
}

.dnd5e.sheet.actor ul.skills-list,
.dnd5e.sheet.actor.character ul.skills-list {
    min-width: 195px;
    flex: 1;
}

.dnd5e.sheet.actor .traits {
    min-width: 250px;
}


/*    Inventory   */
.dnd5e.sheet.actor .inventory-list .item .item-name .item-image {
    max-height: 30px;
}

.dnd5e.sheet .sheet-header .summary li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* ------------------------------------ */
/*              Module Apps             */
/* ------------------------------------ */

.window-selector {
    z-index: 1000;
    position: fixed;
    bottom: -1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(calc(100% + 60px));
    transition: transform ease-in 50ms;
    visibility: hidden;
    pointer-events: none;
}

@media screen and (max-width: 800px) {
    .window-selector {
       visibility: unset;
    }
}

.window-selector.has-items {
    transform: translateY(calc(100% - 9px));
}

.window-selector.open {
    transform: translateY(0);
}

.window-selector .window-count {
    width: 32px;
    height: 32px;
    font-size: 120%;
    border: 1px solid #000;
    line-height: 1.6em;
    text-align: center;
    font-weight: bold;
    background: #333333EE;
    color: #f0f0e0;
    z-index: 1;
    box-shadow: 0 0 20px #000;
    position: absolute;
    top: -36px;
    cursor: pointer;
    border-radius: 3px;
    pointer-events: auto;
}

.window-selector nav {
    padding: 0 1em;
    background: #333333EE;
    width: 250px;
    border: 1px solid #000;
    box-shadow: 0 0 20px #000;
    max-height: calc(100vh - 40px);
    overflow: scroll;
    pointer-events: auto;
}

.window-selector .window-list {
    padding: 0;
}

.window-selector .window-row {
    display: flex;
    margin-bottom: 2px;
    border: 1px solid #000;
    background: #333333EE;
}

.window-selector .window-row:hover {
    box-shadow: 0 0 3px #000;
}

.window-selector .window-list .window-close {
    width: 2.5em;
    max-width: 2.5em;
}

.window-selector button {
    text-align: left;
    background: none;
    border: none;
    color: #f0f0e0;
    border-radius: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.window-selector button:hover {
    box-shadow: none;
}

.window-selector button i {
    margin: 0;
}

.window-selector .minimize-all {
    text-align: center;
}

.display-modes-toggle {
    z-index: 1;
    position: fixed;
    right: 5px;
    top: 380px;
    width: 30px;
    height: 30px;
    font-size: 90%;
    line-height: 1.6em;
    padding: 0;
    margin: 0;
    border: 1px solid #000;
    text-align: center;
    font-weight: bold;
    background: #333333EE;
    color: #f0f0e0;
    box-shadow: 0 0 20px #000;
    cursor: pointer;
    border-radius: 3px;
    pointer-events: auto;
}

.display-modes-toggle i {
    margin: 0;
}